<!DOCTYPE html>
<html>
<head>
	<title>Manager Home page</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	  <div class="container">
		<ul class="nav nav-pills">
		  <li class="nav-item">
			<a class="nav-link" href="/user1/createagent">Create Agent</a>
			
		  </li>
		  <br>
		  <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">SEE LIST</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="/managerhome/agentlist">Agent List</a>
			</div>
		  </li>
		  <li class="nav-item">
			<li class="nav-item">
				<a class="nav-link" href="/logout">Log Out</a>
				
			</li>
			
			
		    <li class="nav-item">
		    <a class="nav-link" href="/managerhome/editagent"><i class="fa fa-user1" aria-hidden="true"></i>edit agent</a>
			</li>
			<br>
			<li class="nav-item ">
				
					<a class="nav-link" href="/managerhome/sendmsg">Send MSG</a>
			</li>
			<br>
			<li class="nav-item ">
					<a class="nav-link" href="/managerhome/receivemsg">Received MSG</a>
			  </li>
			
			
			
		  </li>
		  
		</ul>
	  </div>
</body>
</html>