
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create Agent</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=2">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Create Agent</h2>
 
  <form method="POST">
    <div class="form-group">
      <label for="usr">Name:</label>
      <input type="text" class="form-control" id="usr" name="name">
	</div>
	<div class="form-group">
		<label for="usrnm">User Name:</label>
		<input type="text" class="form-control" id="usrnm" name="username" required>
	  </div>
	  <div class="form-group">
		<label for="email">Email:</label>
		<input type="email" class="form-control" id="email" name="email">
	  </div>
	  <div class="form-group">
		<label for="cntno">Contact Number:</label>
		<input type="text" class="form-control" id="cntno" name="contactno">
	  </div>
	  <div class="form-group">
		<label for="nid">NID:</label>
		<input type="text" class="form-control" id="nid" name="nid">
	  </div>
	  <div class="form-group">
		<label for="gndr">Gender:</label>
		<input type="text" class="form-control" id="gndr" name="gender">
	  </div>
	  <div class="form-group">
		<label for="adrs">Address:</label>
		<input type="text" class="form-control" id="adrs" name="address">
	  </div>
	  <div class="form-group">
		<label for="tp">User Type:</label>
		<input type="text" class="form-control" id="tp" name="type" required>
	  </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" name="password" required>
	</div>
	
	<button type="submit" class="btn btn-primary">Submit</button><br>
	<a href="/managerhome">Back</a>
  </form>
</div>

</body>
</html>