<!DOCTYPE html>
<html>
<head>
	<title>TRANSACTION page</title>
</head>
<body>
    <h1>TRANSACTION</h1> 
    <a href="/userhome/update">LOG OUT</a> 
    <a href="/logout">LOG OUT</a>	
    <a href="/userhome">HOME</a>		
</body>
</html>